        {{#isHeaderParam}}@io.swagger.v3.oas.annotations.Parameter(name = "{{{baseName}}}", description = "{{{description}}}", {{#required}}required = true,{{/required}} in = io.swagger.v3.oas.annotations.enums.ParameterIn.HEADER),{{/isHeaderParam}}
