{{#allParams}}      {{^isFormParam}}
      {{#vendorExtensions.x-validate}}{{^isEnum}}{{#isModel}}@ru.tinkoff.kora.validation.common.annotation.Valid{{/isModel}}{{/isEnum}}
      {{#vendorExtensions.x-has-min-max}}@ru.tinkoff.kora.validation.common.annotation.Range(from = {{minimum}}, to = {{maximum}}, boundary = ru.tinkoff.kora.validation.common.annotation.Range.Boundary.{{#exclusiveMinimum}}EXCLUSIVE{{/exclusiveMinimum}}{{^exclusiveMinimum}}INCLUSIVE{{/exclusiveMinimum}}_{{#exclusiveMaximum}}EXCLUSIVE{{/exclusiveMaximum}}{{^exclusiveMaximum}}INCLUSIVE{{/exclusiveMaximum}})
      {{/vendorExtensions.x-has-min-max}}{{#vendorExtensions.x-has-min-max-items}}@ru.tinkoff.kora.validation.common.annotation.Size(min = {{minItems}}, max = {{maxItems}})
      {{/vendorExtensions.x-has-min-max-items}}{{#vendorExtensions.x-has-min-max-length}}@ru.tinkoff.kora.validation.common.annotation.Size(min = {{minLength}}, max = {{maxLength}})
      {{/vendorExtensions.x-has-min-max-length}}{{#vendorExtensions.x-has-pattern}}@ru.tinkoff.kora.validation.common.annotation.Pattern("{{{pattern}}}")
      {{/vendorExtensions.x-has-pattern}}{{/vendorExtensions.x-validate}}{{^required}}@Nullable {{/required}}{{#isQueryParam}}@ru.tinkoff.kora.http.common.annotation.Query("{{baseName}}")
      {{/isQueryParam}}{{#isPathParam}}@ru.tinkoff.kora.http.common.annotation.Path("{{baseName}}")
      {{/isPathParam}}{{#isHeaderParam}}@ru.tinkoff.kora.http.common.annotation.Header("{{baseName}}")
      {{/isHeaderParam}}{{#isCookieParam}}@ru.tinkoff.kora.http.common.annotation.Cookie("{{baseName}}")
      {{/isCookieParam}}{{#isBodyParam}}{{#vendorExtensions.hasMapperTag}}@{{vendorExtensions.mapperTag}}{{/vendorExtensions.hasMapperTag}}
      {{/isBodyParam}}{{{dataType}}} {{paramName}}{{#hasFormParams}},{{/hasFormParams}}{{^hasFormParams}}{{^-last}},{{/-last}}{{/hasFormParams}}
{{/isFormParam}}{{/allParams}}    {{#hasFormParams}}
     {{#isClient}}@ru.tinkoff.kora.common.Mapping({{classname}}ClientRequestMappers.{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParamRequestMapper.class)
     {{/isClient}}{{^isClient}}@ru.tinkoff.kora.common.Mapping({{classname}}ServerRequestMappers.{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParamRequestMapper.class)
     {{/isClient}}{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}FormParam form
    {{/hasFormParams}}
