package {{package}};

import ru.tinkoff.kora.http.client.common.response.HttpClientResponse;
import ru.tinkoff.kora.http.client.common.response.HttpClientResponseMapper;
import java.util.concurrent.CompletionStage;
import java.util.concurrent.CompletableFuture;
import {{package}}.{{classname}}Responses.*;

{{#imports}}import {{import}};
{{/imports}}

@ru.tinkoff.kora.common.annotation.Generated("openapi generator kora client"){{#discriminator}}{{>typeInfoAnnotation}}{{/discriminator}}
public interface {{classname}}ClientResponseMappers {
{{#operations}}
{{#operation}}
  {{#responses}}
  final class {{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}{{code}}ApiResponseMapper implements HttpClientResponseMapper<CompletionStage<{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}ApiResponse>>{
    {{#dataType}}
    private final HttpClientResponseMapper<CompletionStage<{{{dataType}}}>> delegate;
    public {{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}{{code}}ApiResponseMapper({{#vendorExtensions.hasMapperTag}}@{{vendorExtensions.mapperTag}}{{/vendorExtensions.hasMapperTag}} HttpClientResponseMapper<CompletionStage<{{{dataType}}}>> delegate) {
      this.delegate = delegate;
    }
    {{/dataType}}
    @Override
    public CompletionStage<{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}ApiResponse> apply(HttpClientResponse response) throws java.io.IOException {
      {{#headers}}
      var {{#lambda.camelcase}}{{nameInCamelCase}}{{/lambda.camelcase}} = {{#required}}java.util.Objects.requireNonNull({{/required}}response.headers().getFirst("{{baseName}}"){{#required}}){{/required}};
      {{/headers}}
      {{^dataType}}
      return CompletableFuture.completedFuture(new {{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}ApiResponse{{^vendorExtensions.singleResponse}}.{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}{{#isDefault}}Default{{/isDefault}}{{^isDefault}}{{code}}{{/isDefault}}ApiResponse{{/vendorExtensions.singleResponse}}(
        {{#isDefault}}response.code(){{#hasHeaders}}, {{/hasHeaders}}{{/isDefault}}
        {{#headers}}{{#lambda.camelcase}}{{nameInCamelCase}}{{/lambda.camelcase}}{{^-last}},{{/-last}}
        {{/headers}}
      ));
      {{/dataType}}
      {{#dataType}}
      return this.delegate.apply(response)
        .thenApply(content -> new {{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}ApiResponse{{^vendorExtensions.singleResponse}}.{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}{{#isDefault}}Default{{/isDefault}}{{^isDefault}}{{code}}{{/isDefault}}ApiResponse{{/vendorExtensions.singleResponse}}(
          {{#isDefault}}response.code(), {{/isDefault}}
          content{{#hasHeaders}}, {{/hasHeaders}}
          {{#headers}}{{#lambda.camelcase}}{{nameInCamelCase}}{{/lambda.camelcase}}{{^-last}}, {{/-last}}{{/headers}}
      ));
      {{/dataType}}
    }
  }

  {{/responses}}
{{/operation}}
{{/operations}}
}
