name: Publish Snapshot

on:
  push:
    branches: [ "master", "2.0" ]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: JDK 17 setup
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Retrieve the secret and decode it to a file
        env:
          GPG_KEY: ${{ secrets.SONATYPE_GPG_KEY }}
        run: echo "$GPG_KEY" | base64 --decode > /tmp/secring.gpg

      - name: Retrieve the gradle.properties
        env:
          SIGN_OSSRH_GRADLE_PROPERTIES: ${{ secrets.SONATYPE_GRADLE_PROPERTIES }}
        run: |
          mkdir -p ~/.gradle
          echo -en "$SIGN_OSSRH_GRADLE_PROPERTIES" | base64 --decode > ~/.gradle/gradle.properties

      - name: Gradle setup
        uses: gradle/actions/setup-gradle@v4

      - name: Gradle artifact
        run: ./gradlew assemble

      - name: Gradle publish
        run: ./gradlew publishMavenPublicationToSnapshotRepository -Psigning.secretKeyRingFile=/tmp/secring.gpg --no-daemon --parallel
        env:
          REPO_USER: ${{ secrets.SONATYPE_USERNAME }}
          REPO_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
